@font-face {
  font-family: "Lustria", Serif;
  font-size: 48px;
  src: url(https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lustria&display=swap);
}

h3 {
  color: white;
  text-align: center;
  font-size: 10px;
}

/*--- Buttons --- */

button {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

button:hover {
  background-color: #385c82;
}

#logo > a {
  color: white;
  text-decoration: none;
}

/* --- anchors --- */

button > a {
  color: white;
  text-decoration: none;
}

button > a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: grey;
}
a:focus {
  color: white;
}
a:active {
  color: white;
}

/* --- Header --- */

.header {
  display: flex;
  flex-direction: row;
  gap: 10%;
  text-align: center;
  position: fixed;
  background-color: black;
  width: 100%;
  color: white;
  margin-top: -0.5em;
  margin-left: -0.5em;
}

#logo {
  font-size: 18px;
}

/* --- Flex System --- */

.grid-system {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  flex-shrink: 1;
  height: 1080px;

  background-image: url(images/b&wshort.jpg);
  background-size: 1920px 1080px, cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  margin-left: -0.5em;
}

/* --- Body --- */

body {
  font-family: "Lustria", serif;
  font-size: 16px;
  min-height: 100vh;
  color: white;
}

.blurb {
  font-size: 32px;
  margin-left: 1em;
  margin-bottom: 1em;
  color: white;
}

form {
  font-size: 28px;
}

/* Form / Drpodown Menus */

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 170px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropdown-2 {
  width: 400px;
  margin-left: 4em;
}

/* ---Footer---*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 300px;
  margin-top: 0px;
  color: black;
}

.map {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  padding-top: 1em;
  padding-left: 2em;
}

iframe {
  height: 270px;
  width: 300px;
  resize: both;
  overflow: auto;
}
